<!-- footer scripts -->
<div class="footer">
        <div class="content is-normal has-text-centered">
            <p style="color:white;padding-top:20px;padding-bottom:20px;"><a href="" style="color:white"><b>Lab title</b></a>
                &nbsp;&middot;&nbsp; <a href="#" style="color:white"><b>Lab Description</b></a>
                &nbsp;&middot;&nbsp; <a href="" style="color:white"><b>Institution</b></a>
                &nbsp;&middot;&nbsp; <a href="" style="color:white"><b>Department</b></a></p>
        </div>
</div>