<!-- head scripts -->

<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        const body = document.querySelector('body');

        const modal = document.getElementById('gallery-modal');
        const modalContent = modal.querySelector('.modal-content');
        const modalImageElement = modal.querySelector('img');


        const closeModalButton = modal.querySelector('.close-modal');

        // Close modal
        const closeModal = () => {
            modal.classList.remove('show');
            body.classList.remove('modal-open');
            modal.classList.add('modal-open');
        }

        modal.addEventListener('click', (e) => {
            if (e.target !== modalContent && e.target !== modalImageElement) {
                closeModal();
            }
        });
        closeModalButton.addEventListener('click', (e) => {
            closeModal();
        });
        document.addEventListener('keydown', (e) => {
            if (e.key === 'Escape') {   
                closeModal();
            }
        });

        // document.querySelectorAll('[data-open-modal="true"]').forEach((button) => {
        //     button.addEventListener('focus', (e) => {

        //         const button = e.target;
        //         console.log(button);
        //         const image = e.target.querySelector('img');
        //         console.log(image.src, image.alt);

        //         // Assign proper image to modal
        //         modalImageElement.src = image.src;
        //         modalImageElement.alt = image.alt;

        //     });
        // });

        document.querySelectorAll('[data-open-modal="true"]').forEach((button) => {
            button.addEventListener('click', (e) => {


                // Assign proper image to modal
                const button_image = e.target.querySelector('img');
                if (button_image) {
                    // Use button's child image
                    const imageSrc = button_image.src;
                    const imageAlt = button_image.alt;
                    modalImageElement.src = imageSrc;
                    modalImageElement.alt = imageAlt;
                }
                else {
                    // Use image clicked itself
                    const imageSrc = e.target.src;
                    const imageAlt = e.target.alt;
                    modalImageElement.src = imageSrc;
                    modalImageElement.alt = imageAlt;
                }


                body.classList.add('modal-open');
                modal.classList.add('show');
            });
        });
    
    });
</script>