.page-gallery {

    .gallery-images-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .gallery-image-button {
        border: none;
        background-color: transparent;
        padding: 0px;
        
        img {
            width: 400px;
            height: 400px;
            object-fit: cover;
    
            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 10px 2px lightgray;
            }
        }
    }

    #gallery-modal {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: hsla(0, 0%, 0%, 0.75);
        width: 100vw;
        height: 100vh;
        z-index: 100;
        justify-content: center;

        .modal-content {
            max-height: 80%;
            max-width: 80%;
            margin: auto;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 5px;
            padding: 20px;
            width: fit-content;

            .close-modal {
                position: absolute;
                width: 40px;
                height: 40px;
                align-self: flex-end;
                margin-bottom: 10px;
                background-color: transparent;
                border: none;
                border-radius: 3px;
                padding: 5px;
                color: rgba(255, 255, 255, 0.5);
                font-size: 1.5rem;
                margin-right: 15px;
                margin-top: 15px;

                &:hover {
                    cursor: pointer;
                    color: rgb(255, 255, 255);
                    background-color: #00000075;
                }
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &.show {
            display: flex;
        }
    }
}