.page-research {
    color: #555555;
    font-weight: 300;
    font-size: 1rem;

    h4 {
        font-size: 1.1875rem;
        font-weight: 600;
        line-height: 1.5rem;
        color: #3e3e3e;
    }

    strong {
        color: #555555;
        font-size: 1rem;
        font-weight: 600;
    }
}